@font-face {
    font-family: "DungGeunMo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
*::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: "DungGeunMo";
    display: flex;
    margin-left: 50%;
    margin-top: 50%;
    background: #404040;
}

/* calculator */

#calculator {
    width: 90%;
    max-width: 430px;
    padding: 25px;
    border-radius: 25px;
    background: linear-gradient(to bottom right, #404040, #0c0c0c);
}

/* input */
#input-wrap {
    position: relative;
    width: calc(100% - 4px);
    margin-bottom: 5px;
    padding: 0 5px;
    background: #a1bd66;
    text-align: right;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

#input {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
}

#tmp {
    position: absolute;
    right: 5px;
    top: 0.25rem;
    color: grey;
}

/* button */
#button-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#button-wrap > button {
